div.title{
    width: 1000px;
    height: 60px;
    background-color: darkorange;
    font-size: 45px;
    font-family: "impact";
    margin-bottom: 20px;
    padding: 0px 30px;
}

div.elementitem1{
    vertical-align: top;
    display: inline-block;
    width: 1000px;
    height: 60px;
    font-size: 0px;
    margin-bottom: 20px;
}

span.menu{
    vertical-align: top;
    display: inline-block;
    width: 211px;
    height: 20px;
    background-image: url(../images/images.jpeg);
    font-size: 15px;
    margin: 0px 12px 0px 0px;
    text-align: center;
    padding:15
}

span.menu2{
    vertical-align: top;
    display: inline-block;
    width: 211px;
    height: 20px;
    background-image: url(../images/bluehaikei.jpeg);
    text-align: center;
    font-size: 15px;
    padding:15
}

div.pagetitle{
    width: 570px;
    height: 20px;
    font-size: 15px;
    background-color: orange;
    font-weight:bold;
    margin-bottom: 20px;
    padding: 15px 30px 15px 30px;
}

div.images{
    width: 1000px;
    height: 167px;
    font-size: 0px;
    margin-bottom: 20px;
}

div.image{
    vertical-align: top;
    display: inline-block;
    width: 320px;
    height: 167px;
    font-size: 15px;
    margin: 0px 10px 0px 10px;
}

div.image2{
    vertical-align: top;
    display: inline-block;
    width: 320px;
    height: 167px;
    font-size: 15px;
    margin: 0px 10px 0px 0px;
}

div.Sentence{
    width: 970px;
    height: 280px;
    background-image: url(../images/sirokabe.jpeg);
    margin-bottom: 20px;
    padding:15px;
}

div.footer{
    width: 1000px;
    height: 200px;
    background-image: url(../images/4977932196513.jpg);
}

body{
    background-image: url(../images/c9b662b6771a9baaaae218435fdc45a0_t.jpeg)
}

div.wrap{
    width : 1000px;
    margin : 0px auto;
}